.rings{
  width:99%;
  height:275px;
  position:relative;
  .person{
    width:45%;
    height:100%;
    position:absolute;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s;
    .ring{
      width:100%;
      min-height:100%;
      position:relative;
      border-radius:50%;
      border:10px solid;
      border-color:#000;
      -webkit-transition: all ease 2s;
      -moz-transition: all ease 2s;
      -o-transition: all ease 2s;
      transition: all ease 2s;
    }
    &.male{
      //margin-left:-10%;
      left:2%;
      .ring{
        background: url('/img/bobby/1.jpg');
        background-size:100%;
      }
    }
    &.female{
      //margin-right:-10%
      right:2%;
      .ring{
        background: url('/img/katie/3.jpg');
        background-size:100%;
      }
    }
  }
}

body.animate{
  .person .ring{
    border-color:#f3da30;
    opacity:0.75;
  }
  .person{
    &.female{
      right:8%;
    }

    &.male{
      left:8%;
    }
  }
  .rings{
    .ampersand{
      opacity:1;
      color:#FFF;
      font-size:100px;
      top:90px;
      left:0px;
    }
  }
}

.rings{
  .ampersand{
    font-family:'Lubalin Graph';
    color:#000;
    -webkit-transition: all ease 2s;
    -moz-transition: all ease 2s;
    -o-transition: all ease 2s;
    transition: all ease 2s;
    font-size: 30px;
    position: absolute;
    top: 125px;
    text-align: center;
    width: 100%;
    line-height: 100%;
  }
}

.info{
  line-height:1.6em;
  text-align: center;
  margin-top:30px;
  width: 100%;
  font-size:18px;
  -webkit-transition: all ease 2s;
  -moz-transition: all ease 2s;
  -o-transition: all ease 2s;
  transition: all ease 2s;

  .intro{
    font-size:26px;
    line-height:36px;
  }
}


nav{
  display:block;
  height:40px;
}

iframe{
  margin:0 auto;
  margin-top:50px;
}
